// 颜色定义规范
$color-background : #f8f8f8;
$color-background-d : #fff;
$color-highlight-background : #0366de;
$color-dialog-background : #666;
$color-theme : #FFB63C;
$color-theme-d : #00cd0c;
$color-sub-theme : #fa7f07;
$color-text : #999;
$color-text-d : #333;
$color-text-l : #666;
$color-text-ll : #ccc;

//字体定义规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;
$font-size-large-xx : 24px;